.CashFlowHolder {
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/
  display:grid;
  grid-template-columns: auto auto;
  grid-auto-rows: max-content;
  gap: 1rem;
  width: 100%;
  height: calc(100vh - 154px);
  background-color: #f5f5f5;
  padding:0.5rem;
  overflow-y: auto;
}
.type_expense, .type_income{
  width: 280px;
  min-height:112px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.CashFlowHolder .card h2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: stretch;
  width:100%;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.type_expense{
  background-color: lightcoral;
}
.type_income{
  background-color: lightgreen;
}
